.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(166, 108, 255, 0.25);
  background-color: #E7E9E2;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(166, 108, 255, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #B1E1FF;
  color: #FFF;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #4d8554;
}

.incorrect {
  background-color: #f44336;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  font-size: 2rem;
  color: #E7E9E2;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.1rem solid #E7E9E2;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.8rem;
  background-color: #B1E1FF;
  width: 0%;
}
